body {
	background-color: #eee;
	font-family: 'verdana', arial, serif;
	font-size: 15px;
}

p {
	margin: 10px 0;
}


div#container {
	margin: 0px auto;
	width: 700px;
}

h1, h2, h3, h4 {
	font-family: 'trebuchet ms', arial, serif;
}

h2 {
  margin: 12px 0;
}

h3.msg {
	color: #900;
	margin: 10px 0 0 0;
}

div#header {
	background-color: #fc0;
	background-color: #004;
	color: #fff;
	font-size: 11px;
	padding: 5px 10px;
	margin-bottom: 12px;
}

div#header h1 {
	font-size: 24px;
}

div#header h1 a {
	color: #4e2e28;
	color: #fff;
}

div#header a {
	color: #ccf;
}

label {
	display: block;
}

a.delete {
	color:#c00;
}
div#main {
	margin 0;
	background-color: #fff;
	padding: 15px;
}


input.delete {
	float: right;
	margin-right: 0px;
}

input.delete:hover {
	background-color: #c00;
	color: #fff;
}

div.controls {
	float: right;
	margin: 6px 0;
}

ul#localObjs {
  margin: 20px 0;
}

ul li {
  margin: 6px 6px;
}

